{% extends 'publicaciones/base.html' %}
{% block bloque_definicion %}
<h2>En este apartado responderemos posibles preguntas que puedas tener acerca del rock progresivo.</h2>
{% endblock %}
{% block bloque_contenido %}
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="mb-5">FORO PRINCIPAL</h1>
        
            {% for p in publicacion %}
            <div class="container">
                <p>------------------------------</p>
                <p>{{ p.titulo }}</p>
                <p>{{ p.descripcion }}</p>
                <img src="{{ p.imagen.url }}" alt="">
                <hr>
            </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}