{% extends 'publicaciones/base.html' %}

{% block bloque_definicion %}
<h2>En este apartado responderemos posibles preguntas que puedas tener acerca del rock progresivo.</h2>
{% endblock %}

{% block bloque_contenido %}
<div class="container">
    <div class="row justify-content-center">
        <h1 class="mb-5">FORO PRINCIPAL</h1>

        {% for p in page_obj %}
        <div class="container text-center mb-5">
            <p>------------------------------</p>
            <h4>{{ p.titulo }}</h4>
            <p>{{ p.descripcion }}</p>
            <img src="{{ p.imagen.url }}" alt="{{ p.titulo }}" class="img-fluid mb-3">
            <hr>
        </div>
        {% empty %}
        <p>No hay publicaciones disponibles.</p>
        {% endfor %}

        <!-- Paginación -->
        <nav aria-label="Paginación">
            <ul class="pagination justify-content-center">

                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">Anterior</span></li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
                {% endif %}
            </ul>
        </nav>

    </div>
</div>
{% endblock %}