{% extends 'core/base.html' %}
{% block bloque_contenido %}
    <div class="container">
        <div class="row justify-content-center">
            <h1>Preguntas Frecuentes</h1>
            
            <div class="container">
                <h3>¿Tienen asdhaskjfhefgeriogrd?</h3>
                <p>Sí, tenemos asfdhdfhdfgs</p>
            </div>
            
            <div class="container">
                <h3>Mario???</h3>
                <p>then bros!!!</p>
            </div>
            
            <div class="container">
                <h3>¿Es el dueño?</h3>
                <p>Correcto</p>
            </div>

            <div class="container">
                <h3>¿Usted?</h3>
                <p>Sí</p>
            </div>

            <div class="container">
                <h3>¿En serio?</h3>
                <p>Sí, espero haberos iluminado</p>
            </div>

        </div>
    </div>
{% endblock %}