{% extends 'core/base.html' %}
{% block bloque_contenido %}
    <div class="container">
        <div class="row justify-content-center">
            <h1>Sobre Nosotros</h1>
            
            <div class="card" style="width: 17rem;">
                <img src="https://avatars.githubusercontent.com/u/202694014?v=4" class="card-img-top" alt="butterdog.jpg" width="auto">
                <div class="card-body">
                    <h5 class="card-title">Renato Espinoza</h5>
                    <p class="card-text">Estudiante de Ingeniería en Informática de 21 años.</p>
                    <a href="https://github.com/FrappuccinoIc" class="btn btn-primary">Ir a github</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}