{% extends 'core/base.html' %}
{% block bloque_contenido %}
    <h1>Foro</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus exercitationem enim sit consequuntur assumenda repudiandae fugit corporis et aut sequi vel error sint tempora libero, inventore sapiente eos. Architecto, distinctio.</p>
    
    <div class="card" style="width: 18rem;">
        <img src="https://i1.sndcdn.com/artworks-RrpkpqM31HrrNZge-aNYOQQ-t500x500.jpg" class="card-img-top" alt="butterdog.jpg" width="200px">
        <div class="card-body">
            <h5 class="card-title">Bienvenido al Foro</h5>
            <p class="card-text">Nuestro Foro de Perros</p>
            <a href="#" class="btn btn-primary">Ir a los comentarios</a>
        </div>
    </div>
{% endblock %}