{% extends 'core/base.html' %}
{% block bloque_definicion %}
<h2>Más albumes del rock progresivo que deberías conocer!</h2>
{% endblock %}
{% block bloque_contenido %}
    <div class="container">
        <div class="row justify-content-center align-items-end">
            <article class="container col col-3 py-4">
                <h3 class="fs-5">The Snow Goose (1975) - Camel</h3>
                <a href="https://www.youtube.com/watch?v=mpL52h7VtH0&list=OLAK5uy_n-E4oCUFb3iPPuQZ3IAh_9LpBh76MJYQU&index=2" target="_blank">
                    <img title="Escuchar en Youtube" class="img-thumbnail" src="https://i.scdn.co/image/ab67616d0000b273efb0c17ee823ccfa2a091663" alt="snow-goose-album">
                </a>
            </article>
            <article class="container col col-3 py-4">
                <h3 class="fs-5">The Dark Side Of The Moon (1973) - Pink Floyd</h3>
                <a href="https://www.youtube.com/watch?v=jcz0YxYl6Ac&list=OLAK5uy_l1x-JAx0w53suECoCI0YJtW6VB8DBQWRQ&index=2" target="_blank">
                    <img title="Escuchar en Youtube" class="img-thumbnail" src="https://i.scdn.co/image/ab67616d0000b273ea7caaff71dea1051d49b2fe" alt="dark-side-album">
                </a>
            </article>
            <article class="container col col-3 py-4">
                <h3 class="fs-5">In The Court Of The Crimson King (1969) - King Crimson</h3>
                <a href="https://www.youtube.com/watch?v=7OvW8Z7kiws&list=PLXhfRoiJBIiuXOUv_7EJ1i7UKj0aGfy0U" target="_blank">
                    <img title="Escuchar en Youtube" class="img-thumbnail" src="https://i.scdn.co/image/ab67616d0000b273e58173423c35cedd3dd02739" alt="crimson-king-album">
                </a>
            </article>
            <article class="container col col-3 py-4">
                <h3 class="fs-5">Fragile (1971) - Yes</h3>
                <a href="https://www.youtube.com/watch?v=cPCLFtxpadE&list=PL6ogdCG3tAWiL8m1GcsVLoy0DQwG0-_T3" target="_blank">
                    <img title="Escuchar en Youtube" class="img-thumbnail" src="https://i.scdn.co/image/ab67616d0000b27356325ff85cba9491cf55c215" alt="fragile-album">
                </a>
            </article>            
        </div>
        <div class="row justify-content-end align-items-end">
            <article class="container col col-3 py-4">
                <h3 class="fs-5">Tarkus (1971) - Tarkus</h3>
                <a href="https://www.youtube.com/watch?v=QQ1Zo6faTQY" target="_blank">
                    <img title="Escuchar en Youtube" class="img-thumbnail" src="https://i.scdn.co/image/ab67616d0000b2733efff142a0e3acc6a2ea5c3c" alt="tarkus-album">
                </a>
            </article>
            <article class="container col col-3 py-4">
                <h3 class="fs-5">Tubular Bells (1973) - Mike Oldfield</h3>
                <a href="https://www.youtube.com/watch?v=Bnb-v9fmmCA&t=1420s" target="_blank">
                    <img title="Escuchar en Youtube" class="img-thumbnail" src="https://i.scdn.co/image/ab67616d0000b273631093c9071b1211de4be4c1" alt="tubular-bells-album">
                </a>
            </article>
            <article class="container col col-3 py-4">
                <h3 class="fs-5">Selling England By The Pound (1973) - Genesis</h3>
                <a href="https://www.youtube.com/watch?v=4oPA8JUttCw&list=PLWnwFAnZO1AHV5_IJOqhidY2iYgcc9ulD" target="_blank">
                    <img title="Escuchar en Youtube" class="img-thumbnail" src="https://i.scdn.co/image/ab67616d0000b273769a32367e8bb631560572fd" alt="selling-england-album">
                </a>
            </article>
        </div>
    </div>
{% endblock %}